[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Christophe Meriaux (cmeriaux)
[access "refs/for/refs/*"]
	read = group user/Christophe Meriaux (cmeriaux)
	push = group user/Christophe Meriaux (cmeriaux)
	label-Code-Review = -2..+2 group user/Christophe Meriaux (cmeriaux)
	label-Verified = -1..+1 group user/Christophe Meriaux (cmeriaux)
	rebase = group user/Christophe Meriaux (cmeriaux)
	removeReviewer = group user/Christophe Meriaux (cmeriaux)
	submit = group user/Christophe Meriaux (cmeriaux)
[access "refs/heads/*"]
	read = group user/Christophe Meriaux (cmeriaux)
	create = group user/Christophe Meriaux (cmeriaux)
	push = +force group user/Christophe Meriaux (cmeriaux)
	pushMerge = group user/Christophe Meriaux (cmeriaux)
[access "refs/tags/*"]
	push = +force group user/Christophe Meriaux (cmeriaux)
	pushTag = group user/Christophe Meriaux (cmeriaux)
	pushSignedTag = group user/Christophe Meriaux (cmeriaux)
